*{
  box-sizing: border-box;
}
html{
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;

}
body{
  height: 100vh;
  margin: 0;
  background-color: rgb(26, 25, 25);
  background-image:  url("desk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
h1{
  margin-top: 50px;
  text-align: center;
}


.gameboard{
  color:rgb(38, 38, 38);
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* grid-template-columns: repeat(3, auto); */

}

.box{
  display: flex;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 10rem;
  font-weight: 700;

  /* flex: 1 0 33.3333%; */
}

.one,.two,.three{
  border-top: none;
}

.seven,.eight,.nine{
  border-bottom: none;
}

.one,.four,.seven{
  border-left: none
}

.three, .six, .nine{
  border-right: none
}

/* .box.x,
.box.o{
cursor: not-allowed;
} */


.hide{
  display: none;
}

.gameOver{
  height: 450px;
  width: 450px;
  margin: 0 auto;
  display: none;
  top: -450px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.858);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#restart{
  font-size: 2rem;
  cursor: pointer;

}

.gameOver.show{
  display: flex;
}

.gamebackground{
  background-image:  url("paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.gameStatus{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  padding-top: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  
}

.resetScore{
  font-size: 1rem;
  width: 120px;
}



@media screen and (max-width: 768px) { 

  .gameboard{
    width: 300px;
    height: 300px;
  }

  .gamebackground{
    background-image:  none;

  }
  
  .box{
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 7rem;
  }

  .gameOver{
    height: 300px;
    width: 300px;
    top: -300px;
    font-size: 1.2rem;
  }

  button{
    font-size: 1.5rem;  
  }

  /* .gamebackground{
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  } */

  body{
    background-image:  url("paper.jpg");

  }
 }