*{
  box-sizing: border-box;
}
html{
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;

}
body{
  height: 100vh;
  margin: 0;
  background-color: rgb(26, 25, 25);
  background-repeat: no-repeat, repeat;

  background-image:  url("paper.jpg"), url("desk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto, cover;

}
h1{
  text-align: center;
}


.gameboard{
  color:rgb(38, 38, 38);
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* grid-template-columns: repeat(3, auto); */

}

.box{
  display: flex;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 10rem;
  font-weight: 700;

  /* flex: 1 0 33.3333%; */
}

.one,.two,.three{
  border-top: none;
}

.seven,.eight,.nine{
  border-bottom: none;
}

.one,.four,.seven{
  border-left: none
}

.three, .six, .nine{
  border-right: none
}

/* .box.x,
.box.o{
cursor: not-allowed;
} */


.hide{
  display: none;
}

.gameOver{
  height: 450px;
  width: 450px;
  margin: 0 auto;
  display: none;
  top: -450px;

  position: relative;
  
  background-color: rgba(0, 0, 0, 0.858);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
button{
  font-size: 2rem;
  cursor: pointer;

}

.gameOver.show{
  display: flex;
}

@media screen and (max-width: 768px) { 

  .gameboard{
    color:rgb(38, 38, 38);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    /* grid-template-columns: repeat(3, auto); */
  
  }
  
  .box{
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 7rem;

  }

  .gameOver{
    height: 300px;
    width: 300px;
    top: -300px;
    font-size: 1.2rem;
  }

  button{
    font-size: 1.5rem;  
  }

 }





  